Package: usbtmc-rules
Version: 1.0-1
Section: misc
Priority: optional
Architecture: all
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Description: udev rules for USBTMC devices such as Thorlabs equipment.