Package: usbtmc-rules
Version: 0.2
Architecture: all
Section: misc
Essential: no
Priority: optional
Maintainer: Faris Redza <faris.redza1999@gmail.com>
Description: udev rules for USBTMC devices such as Thorlabs equipment.
